@{
    ViewBag.Title = "ForgottenPassword";
}

@using (Html.BeginForm("ForgottenPassword", "User", FormMethod.Post, new { @class = "form-inline filter-form clearfix" }))
{
    <div>
        @Html.Label("Please enter your registered email address:")
        @Html.TextBox("email")
    </div>
    <p>
       <input type="submit" value="Reset Password" class="update" />
   </p>
}